{% extends "base.html" %}
{% load i18n %}

{% block account %}{% endblock %}

{% block content %}<div class="container order">
	<div class="col12 cart">
		<div class="items"><img src="{{ STATIC_URL }}i/loading-tiny-whitebg.gif" alt="Loading..."></div>
		
		<button class="update">{% trans "Update" %}</button>
		
		<div class="total">
			{% trans "Cart total is" %}&nbsp;&euro;<strong class="amount">&nbsp</strong>
			<a class="hidden" href="#">{% trans "Checkout" %}</a>
		</div>
	</div>

	<div class="col12 checkout-form">
		<p>{% trans "Pick your name and delivery address" %}</p>

		<form action="" method="post">
			<div id="name" class="row required">
				<label>{% trans "Your name" %}</label>
				<input type="text" name="name" value="">
				<ul class="error"></ul>
			</div>

			<div id="city" class="row required">
				<label>{% trans "City" %}</label>
				<input type="text" name="city" value="">
				<ul class="error"></ul>
			</div>

			<div id="address" class="row required">
				<label>{% trans "Address" %}</label>
				<input type="text" name="address" value="">
				<ul class="error"></ul>
			</div>

			<div id="zip" class="row required">
				<label>{% trans "Post index" %}</label>
				<input type="text" name="zip" value="" placeholder="{% trans "6 digits, no spaces" %}" maxlength="6">
				<ul class="error"></ul>
			</div>

			<div id="phone" class="row">
				<label>{% trans "Phone" %}</label>
				<input type="text" name="phone" value="">
				<ul class="error"></ul>
			</div>

			<div id="email" class="row">
				<label>{% trans "Email" %}</label>
				<input type="text" name="email" value="">
				<ul class="error"></ul>
			</div>
		</form>
	</div>
	
	<div class="col12 shipping-form">
		<p>{% trans "Select shipping options" %}</p>

		<form action="" method="post"><ul>
			<li class="pek">
				<input id="pek" type="radio" name="method" value="pek" data-cost="15" checked>
				<label for="pek">Транспортная компания ПЭК <a href="http://www.pecom.ru/ru/" target="_blank">http://www.pecom.ru/ru/</a> — &euro;15</label>
			</li>

			<li class="ems">
				<input id="ems" type="radio" name="method" value="ems" data-cost="25">
				<label for="ems">EMS Почта России <a href="http://www.emspost.ru/ru/" target="_blank">http://www.emspost.ru/ru/</a> — &euro;25</label>
			</li>

			<li class="spsr">
				<input id="spsr" type="radio" name="method" value="spsr" data-cost="25">
				<label for="spsr">Экпресс доставка СПСР <a href="http://www.spsr.ru/" target="_blank">http://www.spsr.ru/</a> — &euro;25</label>
			</li>
		</ul></form>
	</div>

	<div class="col12 order-total">{% trans "Order total is" %}&nbsp;&euro;<strong class="amount"></strong></div>

	<div class="col12 proceed">
		<img class="hidden" src="{{ STATIC_URL }}i/loading-tiny-whitebg.gif" alt="Loading...">
		<button class="update">{% trans "Proceed to payment!" %}</button>
	</div>
</div>{% endblock %}